.onekey {
    // padding-bottom: 80px;
    .onekey-name {
        height: 52px;
        line-height: 52px;
        display: flex;
        align-items: center;
        padding: 0 20px 0 18px;
        font-size: 16px;
        font-weight: bold;
        .onekey-input {
            flex: 1;
            height: 52px;
            text-align: right;
            border: none;
        }
    }
    .content {
        padding: 0 20px 0 18px;
        padding-top: 38px;
        .onekey-icon {
            display: flex;
            .icon-titles {
                font-size: 16px;
                font-weight: bold;
            }
            .icon-wrap {
                flex: 1;
                position: relative;
                .inner {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 74px;
                    height: 74px;
                    background: #3AC86C;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 42px;
                    }
                }
            }
        }
        .relate-tab {
            margin-top: 25px;
        }
        .related-list {
            width: 98%;
            margin: 0 auto;
            height: 38px;
            line-height: 38px;
            border: 1px solid #efefef;
            border-radius: 38px;
            display: flex;
            align-items: center;
            .list-item {
                transition: right 10s ease;
                flex: 1;
                text-align: center;
                &.is-select {
                    background: #19B0FF;
                    border-radius: 38px;
                }
            }
        }
    }
    .icon-title {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 30px;
        &.action {
            margin-top: 30px;
        }
    }
    .time-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        .time-title,
        .time-icon {
            flex: 1;
        }
        .time-icon {
            text-align: right;
            padding-right: 10px;
        }
    }
    .every-day {
        width: 98%;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        border-radius: 5px;
        .day-item {
            border: 1px solid #ccc;
            flex: 1;
            text-align: center;
            color: #999999;
            font-size: 16px;
            font-weight: bold;
            margin-right: -1px;
            &.is-select {
                background: #FFA400;
                color: #fff;
            }
        }
    }
    .switch-day {
        display: flex;
        align-items: center;
        margin-top: 26px;
        .switch-title,
        .switch-btn {
            flex: 1;
        }
        .switch-btn {
            text-align: right;
            position: relative;
            margin-right: 25px;
            img {
                width: 59px;
                height: 30px;
            }
        }
        .switch-check {
            position: absolute;
            top: -10px;
            right: -5px;
            width: 51px;
            height: 40px;
            opacity: 0;
            transition: margin 0.3s ease-in;
        }
        .iconurl {
            margin-right: 15px;
        }
    }
    .machine-select {
        position: relative;
    }
    .select-list {
        width: 98%;
        height: 48px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        padding-left: 15px;
        background: #fff;
        option {
            width: 98%;
        }
    }
    .select-icon {
        position: absolute;
        top: 21px;
        right: 24px;
    }
    .add-btn {
        width: 98%;
        height: 50px;
        line-height: 50px;
        margin: 40px auto;
        margin-bottom: 38px;
        background: #FFA400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        &.save {
            color: #fff;
            background: #19B0FF;
        }
        &.temp {
            border: 1px solid #19B0FF;
            background: #fff;
            color: #19B0FF;
            letter-spacing: 5px;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
