.time-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .time-title,
  .time-icon {
    flex: 1;
  }
  .time-icon {
    text-align: right;
    padding-right: 10px;
  }
}

.every-day {
  width: 98%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  .day-item {
    border: 1px solid #ccc;
    flex: 1;
    text-align: center;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    margin-right: -1px;
    &.is-select {
      background: #FFA400;
      color: #fff;
    }
  }
}

.switch-day {
  display: flex;
  align-items: center;
  margin-top: 26px;
  .switch-title,
  .switch-btn {
    flex: 1;
  }
  .switch-btn {
    text-align: right;
    position: relative;
    margin-right: 25px;
    img {
      width: 59px;
      height: 30px;
    }
  }
  .switch-check {
    position: absolute;
    top: -10px;
    right: -5px;
    width: 51px;
    height: 40px;
    opacity: 0;
    transition: margin 0.3s ease-in;
  }
  .iconurl {
    margin-right: 15px;
  }
}

.icon-title {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.setting {
  .action-list {
    padding-top: 15px;
    .action-item {
      height: 52px; // line-height: 52px;
      display: flex;
      align-items: center;
      .action-input,
      .switch-btn {
        flex: 1;
        text-align: right;
        padding-right: 17px;
      }
      .action-input {
        align-items: center;
        color: #898989;
        .title-text {
          width: 60px;
          height: 52px;
          line-height: 52px;
          border: none;
          text-align: center;
        }
        .title-line {
          width: 10px;
          height: 1px;
          display: inline-block;
          vertical-align: middle;
          background: #898989;
        }
      }
    }
  }
  .timing-wrap {
    // margin-top: 28px;
  }
}

.content-wrap {
  padding: 0 15px;
}

.add-btn {
  width: 98%;
  height: 50px;
  line-height: 50px;
  background: #19B0FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 30px;
}