.module-entry {
  padding: 0 15px;
  padding-top: 25px;
  .list {
    width: 100%;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .list-item {
      width: 33.333%;
      display: inline-block;
      text-align: center;
      margin-bottom: 45px;
      position: relative;
      box-sizing: border-box;
      padding: 0 10px;
      font-size: 12px;
      color: #fff;
      display: flex;
      justify-content: center;
      .item-icon {
        border-radius: 42px;
        &.no-icon {
          border-radius: 0;
        }
      }
      .item-text {
        margin-top: 15px;
      }
      .del-icon {
        position: absolute;
        top: -15px;
        right: 20px;
      }
    }
  }
  .list-wrap {
    // padding: 15px 20px;
    height: 100px;
    width: 95px;
    border-radius: 5px;
    position: relative;
    &.dashed {
      border: 1px dashed #ccc;
    }
    .inner {
      width: 95px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.mint-navbar {
  padding-bottom: 10px;
}

.mint-tab-item {
  font-size: 16px;
  color: #ADADAD;
  &.is-selected {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    border-bottom: none;
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 10px;
      height: 10px;
      background: #FFA607;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
  .mint-tab-item-label {
    font-size: 16px !important;
    letter-spacing: 1px;
  }
}